<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin info</title>
</head>

<body>
    <h1><i>parsa dadar</i></h1>
    <p>junior python developer</p>
    <hr>
    <h1><i>Aboutme</i></h1>
    <p>hello <strong>first</strong> i have to say im not a talkiy person and i dont talk about my self so much,<br> i learned in life you have to do not to say too much<br> like nike branding device<br><i><b>jsut do it</b></i>
    <ul>
        <li><button><a href="https://translate.google.com/?sl=en&tl=fa&text=Aboutme%0Ahello%20first%20i%20have%20to%20say%20im%20not%20a%20talkiy%20person%20and%20i%20dont%20talk%20about%20my%20self%20so%20much%2C%0Ai%20learned%20in%20life%20you%20have%20to%20do%20not%20to%20say%20too%20much%0Alike%20nike%20branding%20device%0Ajsut%20do%20it&op=translate"> translate </button></a></li>
    </ul>
    <br><img src="https://i.pinimg.com/564x/d0/54/f0/d054f04eeb7e431cc8520db5ede204fd.jpg" width="150px" height="250px">
    <br><hr>
    <h2><i>Experience</i></h2>
    <ul>
        <li><b><i>backend worker</i></b>
        <p>lerning Django framwork</p>
        </li>
        <li><b><i>frontend worker</i></b>
        <p>learning html,css</p>
    </ul>
    <hr>
    <p><h2><i>Skills</i></h2></p>
    <table border="2">
        <tr>
            <td><b>technologies</b></td>
            <td>python</td>
            <td>Django</td>
            <td>Html,css</td>
        </tr>
        <tr>
            <td><b>Soft skills</b>
            <td style="color:red">Problem Solving</td>
            <td>Team Worker</td>
            <td>Flexibility</td>
        </tr>
    </table>
    <hr>
    <h1><span>Contacts</span></h1>
    <ul>
        <li><button><a href="https://github.com/parsadadar?tab=repositories"> github </button> </a></li>
        <li><button><a href="https://www.instagram.com/parsa_.dadar/"> instagram </button> </a></li>
    </ul>
    <h1><i>write me a massage</i><h1>
		<form>
			<input type="text" placeholder="Name" name="Name"/>
			<br>
			<input type="text" placeholder="Email" name="Email"/>
			<br>
			<textarea placeholder="massage" required></textarea>
			<br>
			<input type="submit" value="SEND"/>
		</form>
</body>
</html>