<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}asad{% endblock  %}</title>
        {% block header %}{% endblock %}
    </head>
    <body>
        <div style=''>
        {% block content %}
        <p>info </p> 
        {% endblock  %}
        </div>
    </body>
</html>

<!--{% if form.errors %}
                eslah kon
                <br>
                {% for field in forms %}
                  {% if field.errors %}
                    {% for error in field.errors %}
                      {{field.label}} : {{error}}
                    {% endfor %}
                  {% endif %}
                {% endfor %}
                {% if  form.non_field_errors %}
                    {{ form.non_field_errors}}
                  {% endif %}
                {% endif %}-->